*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
  }

  header{
    margin-bottom: 50px;
    display: flexbox;
  }

  .nav-btn{
    margin-left: 5px;
    margin-right: 5px;
  }

  .about-me h1,p{
    display: flex;
    justify-content: center;
  }

  .about-me{
    margin-bottom: 100px;
  }

  .skills{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .website,.github{
    padding-left: 20px;
    padding-right: 20px;
  }

  .tech{
    display: flex;
  }

  .tech h2{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
  }

  .links{
    display: flex;
  }

  .links h4{
    padding-left: 10px;
    padding-right: 10px;
  }

  .my-work{
    display: flex;
    margin-bottom: 50px;
  }

  .card{
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
  }

  .contact-me{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mb-3 input{
    height: 5vh;
  }

  .mb-3 textarea{
    width: 50vh;
  }