*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
  }

  .hero{
    background-color: gray;
  }  

  header{
    margin-bottom: 50px;
  }

  .nav-btn{
    margin-left: 5px;
    margin-right: 5px;
  }

  .about-me h1,p{
    display: flex;
    justify-content: center;
  }

  .about-me{
    margin-bottom: 50px;
  }

  .skills{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .website,.github{
    padding-left: 20px;
    padding-right: 20px;
  }

  .tech{
    display: flex;
  }

  .tech h2{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
  }

  .links{
    display: flex;
  }

  .links h4{
    padding-left: 10px;
    padding-right: 10px;
  }

  .links h4:hover{
    font-size: 40px;
  }

  .my-work{
    display: flex;
    margin-bottom: 50px;
  }

  .card{
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
  }

  .email-input{
    display: flex;
    align-items: center;
    margin-left: 25%;
  }

  .email-input label{
    padding-right: 5px;
  }

  .message-input{
    display: flex;
    align-items: center;
    margin-left: 24%;
  }

  .message-input label{
    padding-right: 5px;
  }

  .message-input button{
    margin-left: 15px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
  }

  .message-input button:hover{
    background-color: gray;
  }


  .mb-3 input{
    height: 5vh;
  }

  .mb-3 textarea{
    width: 50vh;
  }